
.topimg{
    width: 100%;
    height: .45rem;
    position: relative; 
    text-align: center;
    line-height: .45rem;
    overflow: hidden;
}
.topimg img{
    width: .5rem;
    position: absolute;
    left: .5rem;
    top: .2rem;
    
}
.topimg h1{
    font-size: .18rem;
}
.topimg p{
    position: absolute;
    right: .1rem;
    line-height: .1rem;
    padding: .1rem 0;
    box-sizing: border-box;
}
.topimg p>span{
    display: block;
}